@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Rethink+Sans:wght@500&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:Rethink Sans;

}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.container{
background-color: antiquewhite;
height: 100%;
width: 100%;
display: flex;
position: relative;
top: 0;
}

.right{
    background-color: rgb(18, 124, 124);
    height: 100%;
    width: 60%;
    
}

 .righttop{
    background-color: rgb(18, 189, 132);
    height: 50%;
    width: 100%;
    display: flex;
 }
 .righttopright{
background-image: url("https://images.unsplash.com/photo-1593006961993-32c69e010ca2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-position: center center;
background-size: cover;
height: 100%;
width: 50%;
}

.righttopleft{
background-image: url("https://images.unsplash.com/photo-1611373771444-f2f256643feb?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size: cover;
background-position: center center;

height: 100%;
width: 50%;
}
.rightbottom{
    background-image: url("https://images.unsplash.com/photo-1514345262981-53bc772c514a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center bottom;
    ;
    height: 50%;
    width: 100%;
    display: flex;
    
}
 
.left{
    background-color: aliceblue;
    background-size: cover;
    background-position: center left;
    
    height: 100%;
    width: 40%;
}
.navbar{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 25px;
}
.navkaclass{
    text-decoration: none;
    color: black;
    
}

.read{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 70%;
    left: 7%;
    border-bottom: 2px solid rgb(122 118 118 / 68%);
    
    line-height: 2;
    
}
.ri-arrow-left-line{
    font-size: 25px;
   
}
.ri-twitter-fill{
    font-size: 25px;
    color: royalblue;
}
.hello{
    position: absolute;
    top: 37%;
    left: 7%;
    font-size: 60px;
    padding-right: 10px;
    z-index: 1;
    
    
}
.para{
color: rgb(146 147 151 / 68%);
line-height: 25px;
padding-right: 20px ;
overflow: hidden;
}
    

.parakadiv{
    height: 140px;
    width: 350px;
    /* border: 2px solid black; */
    
    position: absolute;
    top:50% ;
    left: 7%;
}

@media  (max-width: 500px) {

    .container{
        flex-direction: column;
    }
    .container .right{
        width: 100%;
    }
    .container .left{
        width: 100%;
    }
    .hello{
        position: absolute;
        top: 10%;
    }
    .parakadiv{
        position: absolute;
        top: 20%;
    }
}

