body{
    background-color: bisque;
}

#id1{
    background-color: aqua;
}
.class1{
    background-color: rgb(239, 98, 255);
}
.class2{
    background-color: aquamarine;
}
.class3{
    background-color: rgb(209, 209, 63);
}